* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

body {
  font: 14px Helvetica, Arial, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

canvas {
  top: 0;
  left: 0;
  position: absolute;
}
